<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Admin Panel</title>
</head>
<body style="background-color:rgba(66, 100, 124, 0.8);">
<div>
    <div>
        <div class="page-header text-center" >
            <h1>MENU</h1>
        </div>
        <div class="text-center">
            <a href="/addRepository"class="btn btn-danger" role="button">ADD COMPONENTS TO DATABASE</a><br><br><br><br><br><br>
            <a href="/deleteRepository"class="btn btn-danger" role="button">DELETE COMPONENTS FROM DATABASE</a><br><br>
            <a href="/index" class="btn btn-info" role="button">Main Menu</a>
        </div>

    </div>
</div>

</body>
</html>