<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
                      xmlns:th="http://www.thymeleaf.org"
                      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
                      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--online css-->
    <title>Menu</title>
</head>
<body style="background-color:rgba(66, 100, 124, 0.8);">
<div>
    <div>
        <div class="page-header text-center" >
            <h1>MENU</h1>
        </div>
        <div class="text-center">
            <a href="/viewComponets"class="btn btn-success" role="button">ADD COMPONENT TO YOUR SET</a><br><br>
            <a href="/viewSetList"class="btn btn-primary" role="button">SHOW YOUR SET</a><br><br>
            <a href="/addRepository"class="btn btn-danger" role="button">ADD COMPONENTS TO DATABASE</a><br><br>
        </div>

    </div>
</div>

</body>
</html>