<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Payment</title>
    <style>
        table {
            width:100%;
        }
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 20px;
            text-align: left;
        }
        #t01 tr:nth-child(even) {
            background-color: #eee;
        }
        #t01 tr:nth-child(odd) {
            background-color: #fff;
        }
        #t01 th {
            background-color: black;
            color: white;
        }
    </style>
</head>
<body style="background-color:rgba(66, 100, 124, 0.8);">
<div class= "text-center">
<h1>CHECK YOUR ORDER</h1>
</div>
<h2>CUSTOMER INFORMATIONS</h2>

<table>
    <tr>
        <th>Name</th>
        <th>SurName</th>
        <th>Adress</th>
        <th>Email</th>
        <th>Telephone number</th>
        <th>Delivery</th>
    </tr>
    <tr data-th-each="geForce : ${customer}" >
        <td th:text="${geForce.name}"></td>
        <td th:text="${geForce.surName}"></td>
        <td th:text="${geForce.adress}"></td>
        <td th:text="${geForce.email}"></td>
        <td th:text="${geForce.telephone}"></td>
        <td th:text="${geForce.transport}"></td>
    </tr>
</table><br>
<a href="/addCustomerName"class="btn btn-success" role="button">Corect Your informations</a><br><br>
<a href="/viewSetList"class="btn btn-primary" role="button">Change Your set</a><br><br>
<br>
<h2>CUSTOMER ORDER</h2>
<table id="t01">
    <tr>
        <th>Name</th>
        <th>Price</th>
    </tr>
    <tr data-th-each="order : ${order}" >
        <td th:text="${order.name}"></td>
        <td th:text="${order.price}"></td>
    </tr>
    <tr>
        <td></td>
        <td></td>

    </tr>
    <tr>
        <td style="font-size:20px;" th:text =        SUM></td>
        <td style="background-color:rgb(10, 250, 10)" style="font-size:30px" th:text = "${total}"></td>
    </tr>
    <tr>
        <td style="font-size:20px;" th:text =        DELIVERY></td>
        <td style="background-color:rgb(10, 250, 10)" style="font-size:30px" th:text = "${deliveryCost}"></td>
    </tr>
    <tr>
        <td style="font-size:30px;" th:text =        TOTAL></td>
        <td style="background-color:rgb(10, 250, 10)" style="font-size:30px" th:text = "${totalSum}"></td>
    </tr>
</table><br>
<div class= "text-center">
<a href="/Fianl"class="btn btn-danger" role="button">PAY</a><br><br>
</div>
</body>
</html>